#cloud-config
package_update: true
package_upgrade: true

packages:
  - git
  - python3
  - python3-venv
  - chromium-browser
  - chromium-chromedriver
  - mailutils

runcmd:
  - su - kpasillas -c "
      cd /home/kpasillas &&
      if [ ! -d Product_Tracker ]; then
        git clone https://github.com/kpasillas/Product_Tracker.git
      fi &&
      cd Product_Tracker &&
      ./run_product_tracker.sh
    "
  - shutdown -h now
