#cloud-config

############################
# 1. SYSTEM BOOTSTRAP
############################

package_update: true
package_upgrade: true

packages:
  - software-properties-common
  - git
  - curl
  - build-essential
  - ca-certificates
  - chromium-browser
  - chromium-chromedriver
  - libssl-dev
  - zlib1g-dev
  - libbz2-dev
  - libreadline-dev
  - libsqlite3-dev
  - libncursesw5-dev
  - xz-utils
  - tk-dev
  - libxml2-dev
  - libxmlsec1-dev
  - libffi-dev
  - liblzma-dev

############################
# Users
############################
users:
  - default
  - name: kpasillas
    gecos: Product Tracker User
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: sudo
    lock_passwd: true

############################
# 3. SYSTEMD SERVICE
############################

write_files:
  - path: /etc/systemd/system/product-tracker.service
    permissions: "0644"
    content: |
      [Unit]
      Description=Run Product Tracker
      After=network-online.target
      Wants=network-online.target

      [Service]
      Type=oneshot
      User=kpasillas
      Environment=HOME=/home/kpasillas
      ExecStart=/bin/bash -lc /usr/local/bin/product-tracker-setup.sh
      StandardOutput=journal
      StandardError=journal

      [Install]
      WantedBy=multi-user.target

############################
# 4. APP SETUP SCRIPT
############################

  - path: /usr/local/bin/product-tracker-setup.sh
    permissions: "0755"
    content: |
      #!/usr/bin/env bash
      set -euo pipefail

      USER="kpasillas"
      HOME_DIR="/home/${USER}"
      APP_DIR="${HOME_DIR}/Product_Tracker"
      PYTHON="/usr/local/bin/python3.13"

      export PYENV_ROOT="$HOME/.pyenv"
      export PATH="$PYENV_ROOT/shims:$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"

      echo "=== Product Tracker setup starting ==="

      echo $(whoami)

      echo "Build pyenv"
      if [ ! -d "$PYENV_ROOT" ]; then
        echo "Build pyenv - Start"
        curl -fsSL https://pyenv.run | bash
        
        # echo "Build pyenv - set variables"
        # echo 'export PYENV_ROOT="$HOME/.pyenv"' >> ~/.bashrc
        # echo '[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.bashrc
        # echo 'eval "$(pyenv init --path)"' >> ~/.bashrc
        # echo 'export PYENV_ROOT="$HOME/.pyenv"' >> ~/.profile
        # echo '[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.profile
        # echo 'eval "$(pyenv init --path)"' >> ~/.profile

        echo "Build Python - Start"
        pyenv install 3.13.5
        pyenv global 3.13.5
        echo $(python --version)
        echo "Build Python - Finish"
        
        echo "Build pyenv - exit"
        exit
        echo "Build pyenv - Finish"
      fi


      # echo "Build Python 3.13.5"
      # if [[ ! "$(python3.13 --version 2>&1)" =~ "Python 3.13" ]]; then
      #   echo "Build Python - Start"
      #   /root/.pyenv/bin/pyenv install 3.13.5
      #   /root/.pyenv/bin/pyenv global 3.13.5
      #   echo $(python --version)
      #   echo "Build Python - Finish"
      # fi

      echo "Git clone"
      if [ ! -d "${APP_DIR}" ]; then
        echo "Git Clone - Start"
        sudo -u "${USER}" git clone https://github.com/kpasillas/Product_Tracker.git "${APP_DIR}"
        echo "Git Clone - Finish"

        echo "Setup venv - Start"
        cd ${APP_DIR}
        echo "Create venv"
        python -m venv .venv
        echo "Activate venv"
        source .venv/bin/activate
        echo "Install pip packages"
        pip install --upgrade pip
        pip install -r requirements.txt
        echo "Setup venv - Finish"
      fi

      echo "Set venv"
      sudo -u "${USER}" bash -lc "
        echo "Setup venv - Start"
        cd ${APP_DIR}
        echo "Create venv"
        python -m venv .venv
        echo "Activate venv"
        source .venv/bin/activate
        echo "Install pip packages"
        pip install --upgrade pip
        pip install -r requirements.txt
        echo "Setup venv - Finish"
      "

      # systemctl daemon-reload
      # systemctl enable product-tracker.service

      echo "=== Product Tracker setup complete ==="

############################
# 5. EXECUTION + REBOOT LOGIC
############################

runcmd:
  - echo "product-tracker-set - Start"
  - /usr/local/bin/product-tracker-setup.sh
  - echo "product-tracker-set - Finish"

  - echo "product-tracker.service - Start"
  - systemctl daemon-reload
  - systemctl enable product-tracker.service
  - systemctl start product-tracker.service
  - echo "product-tracker.service - Finish"
  
  - |
    if [ -f /var/run/reboot-required ]; then
      echo "Reboot required - Start"
      echo "Reboot required, rebooting..."
      reboot
      echo "Reboot required - Finish"
    # else
    #   echo "product-tracker.server - Start"
    #   systemctl start product-tracker.service
    #   echo "product-tracker.server - Finish"
    fi
