name: Run Product Tracker (Linode)

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    environment: env

    steps:
      - uses: actions/checkout@v4

      - name: Create cloud-init from template
        run: |
          MYSQL_USERNAME="${{ secrets.MYSQL_USERNAME }}"
          MYSQL_PASSWORD="${{ secrets.MYSQL_PASSWORD }}"
          MYSQL_HOST="${{ secrets.MYSQL_HOST }}"
          
          envsubst < .github/workflows/cloud-init_template.yaml > .github/workflows/cloud-init.yaml
      
      - name: Install Linode CLI
        uses: linode/action-linode-cli@v1.1.0
        with:
          token: ${{ secrets.LINODE_TOKEN }} # Store your Linode API Token as a GitHub secret
  
      - name: Deploy Linode with cloud-init user data
        run: |
          linode-cli linodes create \
            --root_pass ${{ secrets.ROOT_PASSWORD }} \
            --image "linode/ubuntu22.04" \
            --region "us-lax" \
            --type "g6-nanode-1" \
            --label "product_tracker" \
            --metadata.user_data "$(cat .github/workflows/cloud-init.yaml | base64 -w 0)"
